AnalyzeTeamsReactions/Microsoft.Flow/flows/c4f87fdd-117d-4d3a-9468-5de554978f27/definition.json
{"name":"c7e22271-2f0c-4b71-81f7-1aedc27d709e","id":"/providers/Microsoft.Flow/flows/c7e22271-2f0c-4b71-81f7-1aedc27d709e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"AnalyzeTeamsReactions","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"5bfcd121-0028-48de-85f4-bcfd14cc1005","type":"User","tenantId":"7f8d27e7-be70-4bed-83d5-97be9ab7e711"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-02-16T13:25:22.2770769Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","metadata":{"operationMetadataId":"5727ec68-ceae-44f9-82f4-47afe0c80500","flowSystemMetadata":{"swaggerOperationId":"ForASelectedMessage","taskModuleWidth":null,"taskModuleHeight":null,"inputsAdaptiveCard":"{\"type\":\"AdaptiveCard\",\"$schema\":\"http://adaptivecards.io/schemas/adaptive-card.json\",\"version\":\"1.2\",\"body\":[{\"type\":\"TextBlock\",\"wrap\":true,\"text\":\"このチャネルの投稿分析\",\"color\":\"Accent\",\"weight\":\"Bolder\"},{\"type\":\"Input.Number\",\"placeholder\":\"何日前からにするかを指定してください\",\"min\":0,\"max\":300,\"value\":30,\"label\":\"分析対象となる日数\",\"id\":\"AnalyzingDays\"}],\"msteams\":{\"width\":\"full\"},\"actions\":[{\"type\":\"Action.Submit\",\"title\":\"分析ゴー❣\"}],\"-ms-tokens\":{}}"}},"type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"teamsFlowRunContext":{"type":"object","properties":{"channelData":{"type":"object","properties":{"team":{"type":"object","properties":{"aadGroupId":{"title":"Team ID","type":"string"}},"required":[]},"channel":{"type":"object","properties":{"id":{"title":"Channel ID","type":"string"}},"required":[]}},"required":[]},"messagePayload":{"type":"object","properties":{"from":{"type":"object","properties":{"user":{"type":"object","properties":{"id":{"title":"Sender User ID","type":"string"}},"required":[]}},"required":[]}},"required":[]},"from":{"type":"object","properties":{"aadObjectId":{"title":"Originating User ID","type":"string"}},"required":[]}},"required":[]}},"required":["teamsFlowRunContext"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://japan-001.azure-apim.net/apim/teams"}},"operationId":"ForASelectedMessage","parameters":{"inputsAdaptiveCard":"{\"type\":\"AdaptiveCard\",\"$schema\":\"http://adaptivecards.io/schemas/adaptive-card.json\",\"version\":\"1.2\",\"body\":[{\"type\":\"TextBlock\",\"wrap\":true,\"text\":\"このチャネルの投稿分析\",\"color\":\"Accent\",\"weight\":\"Bolder\"},{\"type\":\"Input.Number\",\"placeholder\":\"何日前からにするかを指定してください\",\"min\":0,\"max\":300,\"value\":30,\"label\":\"分析対象となる日数\",\"id\":\"AnalyzingDays\"}],\"msteams\":{\"width\":\"full\"},\"actions\":[{\"type\":\"Action.Submit\",\"title\":\"分析ゴー❣\"}],\"-ms-tokens\":{}}"}}}},"actions":{"Do_until":{"actions":{"HTTP_要求を送信します":{"runAfter":{},"metadata":{"operationMetadataId":"b2791dae-b42d-4799-a7fe-40795a0ebac7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups","connectionName":"shared_office365groups","operationId":"HttpRequest"},"parameters":{"Uri":"@variables('GetURL')","Method":"GET","ContentType":"application/json"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"変数の設定":{"runAfter":{"条件":["Succeeded"]},"metadata":{"operationMetadataId":"c206d436-2662-45bd-8949-5311e433591a"},"type":"SetVariable","inputs":{"name":"GetURL","value":"@body('JSON_の解析')?['@odata.nextLink']"}},"JSON_の解析":{"runAfter":{"HTTP_要求を送信します":["Succeeded"]},"metadata":{"operationMetadataId":"751366b6-eea3-4015-a26c-6f11066d6dda"},"type":"ParseJson","inputs":{"content":"@body('HTTP_要求を送信します')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"@@odata.count":{"type":"integer"},"@@odata.nextLink":{"type":"string"},"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"replyToId":{},"etag":{"type":"string"},"messageType":{"type":"string"},"createdDateTime":{"type":"string"},"lastModifiedDateTime":{"type":"string"},"lastEditedDateTime":{},"deletedDateTime":{},"subject":{},"summary":{},"chatId":{},"importance":{"type":"string"},"locale":{"type":"string"},"webUrl":{"type":"string"},"eventDetail":{},"onBehalfOf":{"type":["object","null"],"properties":{"application":{},"device":{},"user":{"type":"object","properties":{"id":{"type":"string"},"displayName":{"type":"string"},"userIdentityType":{"type":"string"}}}}},"reactions":{"type":"array","items":{"type":"object","properties":{"reactionType":{"type":"string"}},"required":["reactionType","createdDateTime","user"]}},"from":{"type":["object","null"],"properties":{"application":{},"device":{},"user":{"type":["object","null"],"properties":{"id":{"type":"string"},"displayName":{"type":"string"},"userIdentityType":{"type":"string"}}}}}}}}}}}},"条件":{"actions":{"変数の設定_2":{"runAfter":{},"metadata":{"operationMetadataId":"2aaa4811-3457-4095-813d-577dcbbbefa3"},"type":"SetVariable","inputs":{"name":"HasDone","value":true}}},"runAfter":{"Apply_to_each_messages":["Succeeded"]},"expression":{"greater":["@body('時間への追加')","@outputs('作成_最古の日付')"]},"metadata":{"operationMetadataId":"432cb6fb-73e6-4092-80c2-ef73f03ea682"},"type":"If"},"作成_最古の日付":{"runAfter":{"JSON_の解析":["Succeeded"]},"metadata":{"operationMetadataId":"0cdcbade-f6e8-4e77-8688-3caaff3f0a8d"},"type":"Compose","inputs":"@last(body('JSON_の解析')?['value'])?['createdDateTime']"},"Apply_to_each_messages":{"foreach":"@body('JSON_の解析')?['value']","actions":{"Condition":{"actions":{"Apply_to_each_reactions_in_messages":{"foreach":"@items('Apply_to_each_messages')?['reactions']","actions":{"Append_to_array_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"f5aef3f7-6297-4059-8f44-89cba1e9d98b"},"type":"AppendToArrayVariable","inputs":{"name":"Messages","value":{"user":"@{items('Apply_to_each_messages')?['from']?['user']?['displayName']}","reactionType":"@{items('Apply_to_each_reactions_in_messages')?['reactionType']}"}}},"Send_an_HTTP_request_2":{"runAfter":{"Append_to_array_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"f636b349-88a5-4df3-99dc-e5968fdd07a6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups","connectionName":"shared_office365groups","operationId":"HttpRequest"},"parameters":{"Uri":"@{variables('GetURL')}/@{items('Apply_to_each_messages')?['id']}/replies","Method":"GET","ContentType":"application/json"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Parse_JSON":{"runAfter":{"Send_an_HTTP_request_2":["Succeeded"]},"metadata":{"operationMetadataId":"092744be-edf1-42ae-8164-caabd8643894"},"type":"ParseJson","inputs":{"content":"@body('Send_an_HTTP_request_2')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"@@odata.count":{"type":"integer"},"@@odata.nextLink":{"type":"string"},"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"replyToId":{},"etag":{"type":"string"},"messageType":{"type":"string"},"createdDateTime":{"type":"string"},"lastModifiedDateTime":{"type":"string"},"lastEditedDateTime":{},"deletedDateTime":{},"subject":{},"summary":{},"chatId":{},"importance":{"type":"string"},"locale":{"type":"string"},"webUrl":{"type":"string"},"eventDetail":{},"from":{"type":["object","null"],"properties":{"application":{},"device":{},"user":{"type":["object","null"],"properties":{"id":{"type":"string"},"displayName":{"type":"string"},"userIdentityType":{"type":"string"}}}}},"onBehalfOf":{"type":["object","null"],"properties":{"application":{},"device":{},"user":{"type":"object","properties":{"id":{"type":"string"},"displayName":{"type":"string"},"userIdentityType":{"type":"string"}}}}},"reactions":{"type":"array","items":{"type":"object","properties":{"reactionType":{"type":"string"}},"required":["reactionType","createdDateTime","user"]}}}}}}}}},"Apply_to_each_replies":{"foreach":"@body('Parse_JSON')?['value']","actions":{"Condition_2":{"actions":{"Apply_to_each_reactions_in_replies":{"foreach":"@items('Apply_to_each_replies')?['reactions']","actions":{"Append_to_array_variable":{"runAfter":{},"metadata":{"operationMetadataId":"319a4af1-63f2-4921-bbc6-cb3d5ccf97e3"},"type":"AppendToArrayVariable","inputs":{"name":"Messages","value":{"user":"@{items('Apply_to_each_replies')?['from']?['user']?['displayName']}","reactionType":"@{items('Apply_to_each_reactions_in_replies')?['reactionType']}"}}}},"runAfter":{},"metadata":{"operationMetadataId":"e6e75f94-4968-4e01-b056-cca1cec14f96"},"type":"Foreach"}},"runAfter":{},"expression":{"and":[{"not":{"equals":["@items('Apply_to_each_replies')?['from']?['user']","@null"]}},{"greater":["@length(items('Apply_to_each_replies')?['reactions'])",0]}]},"metadata":{"operationMetadataId":"1d5ff308-df1d-4048-bfb3-53a101c7d327"},"type":"If"}},"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"be24f53d-429b-43c1-a12e-621d8c87edfa"},"type":"Foreach"}},"runAfter":{},"metadata":{"operationMetadataId":"d0b4262f-6641-4609-be19-d3af758d3e3e"},"type":"Foreach"}},"runAfter":{},"expression":{"and":[{"not":{"equals":["@items('Apply_to_each_messages')?['from']?['user']","@null"]}},{"greater":["@length(items('Apply_to_each_messages')?['reactions'])",0]}]},"metadata":{"operationMetadataId":"fc822854-0aec-49d9-a4db-7704b47f7234"},"type":"If"}},"runAfter":{"作成_最古の日付":["Succeeded"]},"metadata":{"operationMetadataId":"f3f0cbef-e153-475a-9804-c5cad0c741b5"},"type":"Foreach"}},"runAfter":{"Initialize_variable_2":["Succeeded"]},"expression":"@equals(variables('HasDone'), true)","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"af0faf54-fdd1-45df-bc3f-d4294878c83a"},"type":"Until"},"現在の時刻":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"2b56462d-c37d-42c6-9e4b-e83a7181fb4b"},"type":"Expression","kind":"CurrentTime","inputs":{}},"時間への追加":{"runAfter":{"現在の時刻":["Succeeded"]},"metadata":{"operationMetadataId":"9c3d920c-465f-4e52-8c8a-fc6f3c2d7763"},"type":"Expression","kind":"AddToTime","inputs":{"baseTime":"@body('現在の時刻')","interval":"@sub(0,int(triggerBody()?['entity']?['cardOutputs']?['analyzingDays']))","timeUnit":"Day"}},"Initialize_variable":{"runAfter":{"変数を初期化する_HasDone":["Succeeded"]},"metadata":{"operationMetadataId":"273cd93e-aeea-4a4b-8ad2-d82a05f345ef"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Users","type":"array","value":[]}]}},"Initialize_variable_2":{"runAfter":{"時間への追加":["Succeeded"]},"metadata":{"operationMetadataId":"652094ed-ac3c-4ef5-8499-dbf368ca1122"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Reactions","type":"array","value":[]}]}},"変数を初期化する_GetURL":{"runAfter":{},"metadata":{"operationMetadataId":"3ea911e0-95ec-41e3-8bb0-c01ac636c830"},"type":"InitializeVariable","inputs":{"variables":[{"name":"GetURL","type":"string","value":"https://graph.microsoft.com/beta/teams/@{triggerBody()?['entity']?['teamsFlowRunContext']?['channelData']?['team']?['aadGroupId']}/channels/@{triggerBody()?['entity']?['teamsFlowRunContext']?['channelData']?['channel']?['id']}/messages"}]}},"Initialize_variable_Messages":{"runAfter":{"変数を初期化する_GetURL":["Succeeded"]},"metadata":{"operationMetadataId":"6b2bf74f-c227-4894-b356-c4070c0b47d5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Messages","type":"array","value":[]}]}},"変数を初期化する_HasDone":{"runAfter":{"Initialize_variable_Messages":["Succeeded"]},"metadata":{"operationMetadataId":"3bad8ef2-bf66-472c-96bd-2b868f5a6105"},"type":"InitializeVariable","inputs":{"variables":[{"name":"HasDone","type":"boolean","value":false}]}},"Compose":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"d035fcbd-3b1c-442b-bb39-e62d0b70d22b"},"type":"Compose","inputs":"@union(body('Select'),body('Select'))"},"Select":{"runAfter":{"Do_until":["Succeeded"]},"metadata":{"operationMetadataId":"eb21180b-3be4-497d-b534-512d79d7b477"},"type":"Select","inputs":{"from":"@variables('Messages')","select":"@item()?['user']"}},"Set_variable":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"5933f446-b26f-4df0-b904-2d9c5e494e88"},"type":"SetVariable","inputs":{"name":"Users","value":"@union(body('Select'),body('Select'))"}},"Apply_to_each":{"foreach":"@outputs('Compose')","actions":{"Filter_array_like":{"runAfter":{},"metadata":{"operationMetadataId":"9ca2e089-ac39-4cc2-b69a-a3d9fb347499"},"type":"Query","inputs":{"from":"@variables('Messages')","where":"@and(equals(items('Apply_to_each'), item()?['user']), equals(item()?['reactionType'], 'like'))"}},"Append_to_array_variable_3":{"runAfter":{"Filter_array_All":["Succeeded"]},"metadata":{"operationMetadataId":"8b5054af-7caf-43db-a7e7-80255e84bb9d"},"type":"AppendToArrayVariable","inputs":{"name":"Reactions","value":{"type":"ColumnSet","columns":[{"type":"Column","width":"stretch","items":[{"type":"TextBlock","text":"@{items('Apply_to_each')}","wrap":true}],"separator":true},{"type":"Column","width":"stretch","items":[{"type":"TextBlock","text":"@{length(body('Filter_array_all'))}","wrap":true}],"separator":true},{"type":"Column","width":"stretch","items":[{"type":"TextBlock","text":"@{length(body('Filter_array_like'))}","wrap":true}],"separator":true},{"type":"Column","width":"stretch","items":[{"type":"TextBlock","text":"@{length(body('Filter_array_heart'))}","wrap":true}],"separator":true},{"type":"Column","width":"stretch","items":[{"type":"TextBlock","text":"@{length(body('Filter_array_heart'))}","wrap":true}],"separator":true},{"type":"Column","width":"stretch","items":[{"type":"TextBlock","text":"@{length(body('Filter_array_surprised'))}","wrap":true}],"separator":true},{"type":"Column","width":"stretch","items":[{"type":"TextBlock","text":"@{length(body('Filter_array_sad'))}","wrap":true}],"separator":true},{"type":"Column","width":"stretch","items":[{"type":"TextBlock","text":"@{length(body('Filter_array_angry'))}","wrap":true}],"separator":true}],"separator":true}}},"Filter_array_heart":{"runAfter":{"Filter_array_like":["Succeeded"]},"metadata":{"operationMetadataId":"0687fd66-4baf-4d70-a931-83aeb3d19b4f"},"type":"Query","inputs":{"from":"@variables('Messages')","where":"@and(equals(items('Apply_to_each'), item()?['user']), equals(item()?['reactionType'], 'heart'))"}},"Filter_array_laugh":{"runAfter":{"Filter_array_heart":["Succeeded"]},"metadata":{"operationMetadataId":"3d7ccccb-5e53-4148-9801-605dc190f492"},"type":"Query","inputs":{"from":"@variables('Messages')","where":"@and(equals(items('Apply_to_each'), item()?['user']), equals(item()?['reactionType'], 'laugh'))"}},"Filter_array_surprised":{"runAfter":{"Filter_array_laugh":["Succeeded"]},"metadata":{"operationMetadataId":"03a29ee0-17ee-496e-8fb6-7fb0d80a4eac"},"type":"Query","inputs":{"from":"@variables('Messages')","where":"@and(equals(items('Apply_to_each'), item()?['user']), equals(item()?['reactionType'], 'surprised'))"}},"Filter_array_sad":{"runAfter":{"Filter_array_surprised":["Succeeded"]},"metadata":{"operationMetadataId":"87035425-dd6e-4371-8d38-a6bd1ac3ce86"},"type":"Query","inputs":{"from":"@variables('Messages')","where":"@and(equals(items('Apply_to_each'), item()?['user']), equals(item()?['reactionType'], 'sad'))"}},"Filter_array_angry":{"runAfter":{"Filter_array_sad":["Succeeded"]},"metadata":{"operationMetadataId":"4998527d-ed0b-41cd-98c7-c0f3baa3cac4"},"type":"Query","inputs":{"from":"@variables('Messages')","where":"@and(equals(items('Apply_to_each'), item()?['user']), equals(item()?['reactionType'], 'angry'))"}},"Filter_array_All":{"runAfter":{"Filter_array_angry":["Succeeded"]},"metadata":{"operationMetadataId":"ea81afd2-d7c1-4cc0-a961-7289bb9b041c"},"type":"Query","inputs":{"from":"@variables('Messages')","where":"@equals(items('Apply_to_each'), item()?['user'])"}}},"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"bac8929b-c3c5-4f07-b657-f567a644437a"},"type":"Foreach"},"Post_adaptive_card_in_a_chat_or_channel":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"b19bcfa6-ed25-4674-b4c9-30440245f2be"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostCardToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{triggerBody()?['entity']?['teamsFlowRunContext']?['from']?['aadObjectId']};;","body/messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.4\",\n    \"msteams\": {\n        \"width\": \"full\"\n    },\n    \"body\": [\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"ColumnSet\",\n                    \"style\": \"good\",\n                    \"columns\": [\n                        {\n                            \"type\": \"Column\",\n                            \"width\": \"stretch\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"text\": \"User\",\n                                    \"wrap\": true\n                                }\n                            ],\n                            \"separator\": true\n                        },\n                        {\n                            \"type\": \"Column\",\n                            \"width\": \"stretch\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"text\": \"All\",\n                                    \"wrap\": true\n                                }\n                            ],\n                            \"separator\": true\n                        },\n                        {\n                            \"type\": \"Column\",\n                            \"width\": \"stretch\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"text\": \"Like\",\n                                    \"wrap\": true\n                                }\n                            ]\n                        },\n                        {\n                            \"type\": \"Column\",\n                            \"width\": \"stretch\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"text\": \"Heart\",\n                                    \"wrap\": true\n                                }\n                            ],\n                            \"separator\": true\n                        },\n                        {\n                            \"type\": \"Column\",\n                            \"width\": \"stretch\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"text\": \"Laugh\",\n                                    \"wrap\": true\n                                }\n                            ],\n                            \"separator\": true\n                        },\n                        {\n                            \"type\": \"Column\",\n                            \"width\": \"stretch\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"text\": \"Surprised\",\n                                    \"wrap\": true\n                                }\n                            ],\n                            \"separator\": true\n                        },\n                        {\n                            \"type\": \"Column\",\n                            \"width\": \"stretch\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"text\": \"Sad\",\n                                    \"wrap\": true\n                                }\n                            ],\n                            \"separator\": true\n                        },\n                        {\n                            \"type\": \"Column\",\n                            \"width\": \"stretch\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"text\": \"Angry\",\n                                    \"wrap\": true\n                                }\n                            ],\n                            \"separator\": true\n                        }\n                    ],\n                    \"separator\": true\n                }\n            ],\n            \"separator\": true\n        },\n        {\n            \"type\": \"Container\",\n            \"items\": @{variables('Reactions')},\n            \"separator\": true\n        }\n    ]\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_teams":{"connectionName":"shared-teams-864099d5-54a7-4002-93b6-565ecf481128","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_office365groups":{"connectionName":"5e96053ddc264f998e74dbe3ccf3ef9c","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365groups","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}